.cell {
    background-color: black;
    transition-property: background-color;
    transition-duration: 300ms;
}
button.cell {
    border: unset;
    color: red;
}
.alive {
    background-color: white;
}
