.App {
    display: flex;
    flex-direction: column;
}
.title {
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 0 auto;
}
.title:hover {
    color: lightblue;
}
.title * {
    margin: 0;
}

.controls {
    margin: 0 auto 5px;
}
.game {
    margin: 0 auto;
}
